---
import Prose from "../components/app/Prose.astro";
---

<div class="bg-gradient-to-b from-gray-50 to-gray-200 dark:from-gray-800 dark:to-gray-900 grid grid-cols-12 gap-8 py-12">
  <div
    class="col-span-10 col-start-2 md:col-span-8 md:col-start-3 lg:col-span-6 lg:col-start-4 xl:max-w-4xl bg-white dark:bg-gray-800 px-6 py-8 sm:px-10 sm:py-12 shadow-lg ring-1 ring-gray-200 dark:ring-gray-700 rounded-xl"
  >
    <Prose>
      <slot />
    </Prose>
  </div>
</div>